<h1>Doctor manager</h1>

<div class="row">
    <% @consultations.each do |consultation| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to consultation_path(consultation), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) %>)">
            <%= consultation.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

 <%= link_to "New consultation", new_consultation_path %>
