<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-5 shadow">
        <h1><%= @patient.last_name %></h1>
        <%= link_to "Supprimer", patient_path(@patient), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger m-1' %>
        <%= link_to 'Edit', edit_patient_path, class: 'btn btn-secondary m-1' %>
        <%= link_to 'Back', patients_path, class: 'btn btn-primary m-1' %>
      </div>
    </div>
  </div>
</div>
